/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}

fieldset {
  border: none;
}

input:focus,
textarea:focus,
select:focus {
	transition-property: background-color;
  transition-duration: .5s;
  transition-timing-function: ease-out;
	background-color: #f2e893;
  border-radius: 5%;
}

.container {
  text-align: center;
}
.newsletter {
  text-align: right;

}


/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
