/* Tour page styles */
.card {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tour-dates {
  text-align: left;
  width: 100%
}
.pick {
  width: 40px;
  height: 0%;
  padding: 10px;
}
